server:
  port: ${server.port}

management:
  server:
    port: ${management.port}
  endpoint:
    health:
      show-details: always
    metrics:
      enabled: true
    prometheus:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  prometheus:
    metrics:
      export:
        enabled: true

service:
  invoicing:
    url: http://localhost:8022/change_it
    networkTimeout: 5000
  dominant:
    url: http://localhost:8022/change_it
    networkTimeout: 5000
    cache:
      currencies:
        poolSize: 10
        ttlSec: 86400
      terminals:
        poolSize: 30
        ttlSec: 60
      providers:
        poolSize: 20
        ttlSec: 300
      proxies:
        poolSize: 30
        ttlSec: 300
  bouncer:
    url: http://localhost:8022/change_it
    networkTimeout: 10000
    deployment-id: production
    realm: external
    rule-set-id: change_it
    operation-id: change_it
    auth:
      enabled: false
  tokenKeeper:
    url: http://localhost:8022/change_it
    networkTimeout: 5000
  file-storage:
    url: http://localhost:8022/change_it
    networkTimeout: 5000
    urlLifeTimeDuration: 360
    timeZone: Europe/Moscow
  adapters:
    connection:
      timeoutSec: 30
      poolSize: 10
      ttlMin: 1440
      reconnect:
        maxAttempts: 3
        initialDelaySec: 1

spring:
  application:
    name: ${project.name}
  output:
    ansi:
      enabled: always
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/dispute
    username: postgres
    password: postgres
  threads:
    virtual:
      enabled: true

info:
  version: ${project.version}
  stage: dev

auth:
  enabled: true

dispute:
  batchSize: 1
  fixedDelayCreated: 5000
  fixedDelayPending: 5000
